.cart {
    background-color: rgba(197, 224, 182, 0.612);
}

.cart .prod-cart {
    display: flex;
    border: 1px solid #333;
    border-radius: 4px;
    padding: 10px;
    margin: 10px;
    background-color: rgb(254, 254, 254);
    box-shadow: 0px 10px 10px -6px rgb(0, 0, 0);

}

.cart .prod-cart img {
    height: 80px;
}

.cart .prod-cart h5 {
    flex: 5;
    margin-top: 25px;
}

.cart .prod-cart label {
    margin-top: 25px;
    flex: 1;
}

.cart .prod-cart .qty {
    width: px;
}

.cart .prod-cart button {
    background-color: #f8d7d7f8;
    color: #ff2a2a;
    width: 50px;
    margin-left: 10px;
}

.cart .parent {
    display: flex;
    width: 1000px;
}

.cart .list {
    flex: 3;
}

.cart .side {
    flex: 1;
    margin-left: 150px;
}

.cart .alert button {
    background-color: #2ab8ff00;
    border-style: none;
}

.cart .alert {
    margin-left: 460px;
    margin-top: 50px;
    width: 350px;
    height: 90px;
}